@{
    ViewBag.Title = "Viajes Públicos - IFAI";
}

<div class="jumbotron">
    <h1>Viajes Públicos - IFAI</h1>
    <p class="lead">Propuesta para el reto Viajes Transparentes IFAI</p>
    <p><a href="http://www.nicotinaestudio.com" target="_blank" class="btn btn-primary btn-lg">Por: Nicotina Estudio</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rol - Usuario</h2>
        <p>
            Accede al sistema como un usuario registrado.
        </p>
        <p><a class="btn btn-default" href="/Usuario">Acceder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rol - Servidor Público</h2>
        <p>
            Accede al sistema como un servidor público registrado.
        </p>
        <p><a class="btn btn-default" href="/ServidorPublico">Acceder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rol - Administrador</h2>
        <p>
            Accede al sistema como administrador.
        </p>
        <p><a class="btn btn-default" href="/Administrador">Acceder &raquo;</a></p>
    </div>
</div>