
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>Usuario</h2>

<ul>
    <li>@Html.ActionLink("Lista de servidores públicos", "ServidoresPublicos")</li>
</ul>